<div class="row">
  <div class="col" *ngIf="!app">
    <p>No app data</p>
  </div>

  <div class="col" *ngIf="app">
    <h2>Create a rule in app {{app?.name}}</h2>
  </div>
</div>

<div class="row" *ngIf="app">
  <div class="col">
    <div class="form-group">
      <label>Type of rule</label>
      <br>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="rule.ruleType">
        <mat-radio-button value="GENERAL" class="ml-1">Generally</mat-radio-button>
        <br>
        <mat-radio-button value="AB_TESTING" class="ml-1">A/B testing</mat-radio-button>
        <br>
        <mat-radio-button value="INDIVIDUAL" class="ml-1">Individually</mat-radio-button>
        <br>
        <mat-radio-button value="GRADUAL_ROLLOUT" class="ml-1">Gradual rollout</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>

<div *ngIf="app">
  <div *ngIf="rule.ruleType === 'GENERAL'">
    <app-create-sae-rule [app]="app" [rule]="rule" [flag]="flag"></app-create-sae-rule>
  </div>

  <div *ngIf="rule.ruleType === 'AB_TESTING'">
    <app-create-abt-rule [app]="app" [rule]="rule" [flag]="flag"></app-create-abt-rule>
  </div>

  <div *ngIf="rule.ruleType === 'INDIVIDUAL'">
    <app-create-jfo-rule [app]="app" [rule]="rule" [flag]="flag"></app-create-jfo-rule>
  </div>

  <div *ngIf="rule.ruleType === 'GRADUAL_ROLLOUT'">
    <app-create-gro-rule [app]="app" [rule]="rule" [flag]="flag" [rollout]="rollout"></app-create-gro-rule>
  </div>
</div>

<div class="row mt-4" *ngIf="app">
  <div class="col">
    <button type="submit" class="btn btn-primary" [disabled]="!valid()" (click)="createRule()">Submit</button>
  </div>
</div>
