<div class="row">
  <div class="col text-center">
    <h2 *ngIf="app">Details of {{app.name}}</h2>
    <h2 *ngIf="!app">Details</h2>
  </div>
</div>

<div class="row">
</div>

<div class="row" style="margin-top: 20px">
  <div class="col-6">
    <p *ngIf="!app">No data available</p>
    <div *ngIf="app">
      <b>Name: </b>{{app.name}} [{{app.id}}]<br>
      <b>Number of flags: </b>{{flags?.length}}
    </div>
  </div>
  <div class="col">
    <button type="button" class="float-right btn btn-outline-danger" (click)="removeAppDialog()">Delete</button>
    <button type="button" class="float-right btn btn-outline-dark mr-1" (click)="addFlag()">Add flag</button>
  </div>
</div>

<div class="row" style="margin-top: 20px" *ngIf="app">
  <div class="col">
    <h3>Flags</h3>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col">Def. value</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let flag of flags; index as i" routerLink="/applications/{{app.id}}/flags/{{flag.id}}">
        <th>{{flag.id}}</th>
        <td>{{flag.name}}</td>
        <td>{{flag.description}}</td>
        <td>{{flag.dataType}}</td>
        <td>{{flag.defaultValue}}</td>
        <td>
          <button class="btn btn-sm btn-outline-info mr-2"
                  style="padding: .06rem .5rem;"
                  (click)="createRule(flag)">Create rule</button>
          <button class="btn btn-sm btn-outline-danger"
                  style="padding: .06rem .5rem;"
                  (click)="removeFlagDialog(flag)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
