<div class="row">
  <div class="col text-center">
    <h2 *ngIf="app">Details of {{app.name}}</h2>
    <h2 *ngIf="!app">Details</h2>
  </div>
</div>

<div class="row mt-3">
  <div class="col-6">
    <p *ngIf="!app">No data available</p>
    <div *ngIf="app">
      <b>Name: </b>{{app.name}} [{{app.id}}]<br>
      <b>Number of flags: </b>{{flags?.length}}
    </div>
  </div>
  <div class="col">
    <button type="button" class="float-right btn btn-outline-dark ml-1" (click)="addFlag()">Create flag</button>
    <button type="button" class="float-right btn btn-outline-danger" (click)="removeAppDialog()">Delete app</button>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <h3>Active rollouts</h3>
    <table class="table table-hover" *ngIf="rollouts.length !== 0">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Flag</th>
        <th scope="col">Started</th>
        <th scope="col"># rollouts</th>
        <th scope="col">Interval</th>
        <th scope="col">Completion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rollout of rollouts; index as i" routerLink="/applications/{{app.id}}/rule/{{rollout.flag.id}}/rollout/{{rollout.id}}">
        <th>{{rollout.id}}</th>
        <td>{{rollout.flag.name}}</td>
        <td>{{rollout.createdAt | date: "dd. MM. yyyy HH:mm:ss"}}</td>
        <td>{{rollout.numOfSteps}}</td>
        <td>{{rollout.interval}} {{rollout.timeUnit}}</td>
        <td>{{rollout.completed}}%</td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="rollouts.length === 0">
      No active rollouts for this application
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <h3>Flags</h3>
    <table class="table table-hover" *ngIf="flags.length !== 0">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col">Def. value</th>
        <th scope="col">Expires in</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let flag of flags; index as i" routerLink="/applications/{{app.id}}/flags/{{flag.id}}">
        <th>{{flag.id}}</th>
        <td>{{flag.name}}</td>
        <td>{{flag.description}}</td>
        <td>{{flag.dataType}}</td>
        <td>{{flag.defaultValue}}</td>
        <td>{{flag.expirationDate | expiresIn}} days</td>
        <td>
          <button class="btn btn-sm btn-outline-info mr-2"
                  style="padding: .06rem .5rem;"
                  (click)="createRule(flag)">Modify rule</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="flags.length === 0">
      No flags for this application
    </div>
  </div>
</div>
