<div class="row">
  <div class="col-2">
    <button type="button" [routerLink]='"/applications/new"' class="btn btn-light">New</button>
  </div>

  <div class="col-8 text-center">
    <h2>List of apps</h2>
  </div>
</div>

<div class="row" *ngIf="apps.length > 0">
  <div class="col-md-6" *ngFor="let element of apps">
    <div class="card" [ngClass]="{'card-expired': element.hasExpiredFlags == true}">
      <a rel="noopener" [routerLink]='"/applications/" + element.id'>
        <div class="card-body">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="24px" height="24px">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path
              d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-5 14H4v-4h11v4zm0-5H4V9h11v4zm5 5h-4V9h4v9z"/>
          </svg>
          <span class="ml-2">{{element.name}}</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
          </svg>
          <span class="float-right" title="Contains expired flags" *ngIf="element.hasExpiredFlags">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#C40000" width="24px" height="24px"><path
              d="M0 0h24v24H0z" fill="none"/><path
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg>
          </span>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row" *ngIf="apps.length == 0">
  <div class="col">
    <p>There are no apps</p>
  </div>
</div>
