<div class="row">
  <div class="col-2">
    <button type="button" [routerLink]='"/applications/new"' class="btn btn-light">Add app</button>
  </div>

  <div class="col-8 text-center">
    <h2>List of apps</h2>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <div *ngIf="apps.length > 0" class="list-group">
      <a [routerLink]='"/applications/" + element.id'
         *ngFor="let element of apps" class="list-group-item list-group-item-action"
      >
        {{element.name}}
      </a>
    </div>

    <p *ngIf="apps.length == 0">There are no apps</p>
  </div>
</div>

