<div class="row text-center">
  <div class="col-sm">
    <h1>O projektu</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <p>V okviru diplomske naloge z naslovom
      <b>Uporaba dinamičnih programskih za stavic za upravljanje oblačnih storitev</b>
      sem razvil mikrostoritev na osnovi <a href="https://ee.kumuluz.com/">KumuluzEE ogrodja</a>, spletno stran za upravljanje z
      zastavicami in mobilno aplikacijo, ki ponazarja spremembe v vrednostih programskih zastavic.
    </p>
    <p>Mentor: prof. dr. Matjaž Branko Jurič</p>
    <p>Fakulteta za računalništvo in informatiko, Univerza v Ljubljani</p>
    <br>
    <p><b>Kontakt</b></p>
    <p>Luka Galjot</p>
    <p>Študijski e. naslov: <a href="mailto: lg0775@student.uni-lj.si">lg0775@student.uni-lj.si</a></p>
    <p>Moj <a href="https://github.com/LGaljo">GitHub repozitorij</a></p>
  </div>
</div>
