<div class="row">
  <div class="col text-center">
    <h2>Create application</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>The only requirement to create an app is its name.
      Flags will be created later on next page.
      Minimum name length are 4 characters.</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput id="name" type="text" formControlName="name">
        </mat-form-field>
      </div>

      <button class="button btn btn-primary" type="submit">Create</button>
    </form>
  </div>
</div>
