<div class="row">
  <div class="col text-center">
    <h1>Present rules for <b>{{flag?.name}}</b></h1>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <h2>Flag details</h2>
    <div class="ml-1">
      <p><b>Name:</b> {{flag?.name}}</p>
      <p><b>Description:</b> {{flag?.description}}</p>
      <p><b>Default value:</b> {{flag?.defaultValue}} ({{flag?.dataType}})</p>
      <p><b>Expiration date:</b> {{flag?.expirationDate | date:"dd. MM. yyyy HH:mm:ss" }} (in {{remainingTime}} days)</p>
    </div>
  </div>

  <div class="col-4">
    <button type="button" class="float-right btn btn-outline-danger" (click)="removeFlagDialog()">Delete</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Table of rules</h2>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Value</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rule of rules">
        <td>{{rule.clientId}}</td>
        <td>{{rule.value}}</td>
      </tr>
      </tbody>
    </table>

    <p *ngIf="rules?.length == 0">There are no rules</p>
  </div>
</div>
